<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div class="box">
          <h1>Sign Up</h1>
          <div class="email">
            <p>Name</p>
            <label class="lable" for="input">
              <input id="input" type="text"  placeholder="Enter name">
             </label>
          </div>
          <div class="email">
            <p>Email</p>
            <label class="lable" for="input">
              <input id="input" type="text"  placeholder="Enter email">
             </label>
          </div>
          <div class="password">
            <div class="pasword_child">
             <p class="p">Password</p>
            </div>
            <label class="lable" for="input">
             <input id="input" type="password" placeholder="Enter pasword">
            </label>
          </div>
          <button class="login">Sign Up</button>
        </div>
    </div>
</body>
</html>