{% extends 'base.html' %}

{% block title %}
Bu index htmldan kelyabdi
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title exampleFormControlInput1"
            placeholder="Enter a title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Intro</label>
            <input type="text" class="form-control" name="intro" id="intro exampleFormControlInput1"
            placeholder="Enter a intro">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1 text" name="text" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-success" value="submit">
        </div>
    </form>
</div>
{% endblock %}